.viewer_layout-main {
    height: 100vh;
    display: flex;
    position: relative;

    .viewer_side-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 36px 12px;

        .viewer_logo {
            width: 1.8em;
            margin-bottom: 1.5em;
        }

        .viewer_side-content-item {
            display: flex;
            flex-direction: column;
            gap: .5em;
            align-items: center;
        }
    }

    .viewer_header-content {
        position: sticky;
        padding: 24px 36px;
    }

    .viewer_layout-content {
        margin-top: 2.4em;
        padding: 3em;
    }
}