.settings-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .settings-main_item {
        margin-top: 12px;
        & > div {
            padding:16px 0;
        }

        .settings_item-title {
            font-weight: bolder;
        }
    }

}